/*  Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

header {
    background-color: orange;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 10px 10px 8px #888888;
    z-index: 2;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
}




/* Header style */



nav {
    height: 80px;
    justify-content: space-between;
    color: white;
    align-items: center;

}

.nav-left, .nav-right {
    flex-basis: 25%;
    
}

.nav-right {
    text-align: right;
}

.nav-center img {
    width: 10em;
}

.nav-right i {
    margin-left: 10px;
}


/* Main style */

/* Utilities for main */

.card img {
    width: 100%;
}

main {
    padding: 50px 0;
}

.card {
    position: relative;
    margin-bottom: 25px;
}

.row {
    gap: 10px;
    flex-wrap: wrap;
}

.col {
    flex-basis: calc(100% / 3 - 20px / 3);
}

.marchio {
    font-size: small;
}

h3 {
    font-size: 14px;
    font-weight: 600;
}

.price.discounted {
    color: red;
    text-decoration: none;
    
}

.price {
    font-size: 12px;
    font-weight: bold;
    text-decoration: line-through;
}

h3, .marchio, .price {
    margin: 1px 0;
}

.discount, .eco {
    padding: 5px 10px;
    position: absolute;
    bottom: 100px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
}

.discount {
    background-color: red;
    left: 0;
}

.eco {
    background-color: lightgreen;    
    left: 65px;
}

.not {
    text-decoration: none;
}

.favourite {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 15px;
    text-align: center;
}

.hoover-pic {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.card:hover .hoover-pic {
    display: inline-block;
}

.favourite:hover {
    color: red;
}